body {
  box-sizing: border-box;
}
/*
background-color: #03A9F4;
color: #E1F5FE;
background-color: #343a40;
*/

#aside {
  background-color: #03A9F4;
  padding: 0;
}

.profile-box {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-pic {
  border-radius: 50%;
  max-height: 70%;
  width: auto;
}

#mobile-header {
  color: #E1F5FE;
  text-align: center;
}

#mobile-header h1 {
  font-size: 5rem;
}

#mobile-header p {
  font-size: 2rem;
}

.light-band {
  background-color: #E1F5FE;
}

.light-band h3 {
  color:#03A9F4;
}

#contact-infos, #a-propos {
  color:#E1F5FE;
}

#a-propos a {
  color: #343a40;
}

#loisirs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #E1F5FE;
  height: 15vh;
  width: auto;
}
