body {
  box-sizing: border-box;
  color: #343a40;
}


/*
background-color: #03A9F4;
color: #E1F5FE;
background-color: #343a40;
*/

#aside {
  background-color: #03A9F4;
  padding: 0;
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: auto;
}

#profile-pic {
  border-radius: 50%;
  max-height: 75%;
  width: auto;
}

#mobile-header {
  color: #E1F5FE;
  text-align: center;
}

#mobile-header h1 {
  font-size: 5rem;
}

#mobile-header p {
  font-size: 2rem;
}

.light-band {
  background-color: #E1F5FE;
}

.light-band h3 {
  color:#03A9F4;
}

#contact-infos, #a-propos {
  color:#E1F5FE;
  font-size: 2rem;
  margin: 3rem;
  word-wrap: break-word;
}

#a-propos a {
  color: #343a40;
}

#loisirs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #E1F5FE;
  width: auto;
  margin: 3rem;
}

#main {
  background-color: #E1F5FE;
}

#desktop-header {
  color: #343a40;
}

#desktop-header h1 {
  font-size: 5.5rem;
}

#desktop-header p {
  font-size: 2.5rem;
  margin-bottom: 0;
}

#prenom {
  color: #03A9F4;
}

#desktop-ruler {
  background-color: #03A9F4;
  margin-right: 90%;
  margin-top: 0;
}

@media (min-width: 992px) {
  #contact-infos, #a-propos {
    color:#E1F5FE;
    font-size: 1.7rem;
    margin: 2rem;
  }

  #loisirs span {
    font-size: 2.3em;
  }
}
