body {
  box-sizing: border-box;
}

header {
  background-color: #03A9F4;
  color: #E1F5FE;
}

#photo {
  display: flex;
  align-items: center;
}

#head-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hr-header {
  background-color: #E1F5FE;
}

.list-title {
  font-weight: 900;
}

#loisirs {

}

.loisirs-box {
  display: flex;
  justify-content: space-evenly;
}
